<div style="background: cornflowerblue; padding: 10px;display: flex;">
  <div style="-ms-flex-item-align: left;color:#fff">
  <h4>Assignment</h4>
  </div>
</div>
<div class="container m-0 p-0">
  <div class="row">
    <div class="col-2">
      <div class="row">
        <div class="col-12">
          <div class="menu">
            <ul class="main-menu">
              <li routerLinkActive="active" routerLink="/cal">Calculator</li>
              <li routerLinkActive="active" routerLink="/dice">Dice Result</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

